.editModal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.5);

  z-index: 100;
}

.editModalContent {
  padding: 25px;
  background: #f5f4fa;
  border-radius: 6px;
  min-width: 700px;
}
@media screen and (max-width: 767px) {
  .editModalContent {
    min-width: 300px;
  }
}
@media screen and (min-width: 1200px) {
  .editModalContent {
    min-width: 800px;
  }
}

.editModal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
